@model Web.Models.RegisterPredavacViewModel

@{
    ViewData["Title"] = "Registracija predavača";
}

<div class="row justify-content-center mt-5">

    <div class="col-md-6">

        <div class="card shadow border-0">

            <div class="card-body p-5">

                <h2 class="text-center mb-4">
                    👨‍🏫 Registracija predavača
                </h2>
                @if (Model.Errors.Any())
                {
                    <div class="alert alert-danger">
                        <ul class="mb-0">
                            @foreach (var error in Model.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }

                <form method="post">

                    <div class="mb-3">
                        <label>Ime</label>
                        <input asp-for="Ime" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Prezime</label>
                        <input asp-for="Prezime" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input asp-for="Email" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Lozinka</label>
                        <input asp-for="Lozinka"
                               type="password"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Biografija</label>
                        <textarea asp-for="Biografija"
                                  class="form-control">
                        </textarea>
                    </div>

                    <div class="mb-4">
                        <label>Cena po satu</label>
                        <input asp-for="CenaPoSatu"
                               type="number"
                               class="form-control" />
                    </div>

                    <button type="submit"
                            class="btn btn-success w-100">
                        Registruj se
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>